<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543615832450-3aqrb7dg36t8l237fj599gkj501q1n61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543615832450-3aqrb7dg36t8l237fj599gkj501q1n61</string>
	<key>API_KEY</key>
	<string>AIzaSyAN9XTjpz7UInHLhZBKPW-zTWX_3YpofSs</string>
	<key>GCM_SENDER_ID</key>
	<string>543615832450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Haz.MyMealPrep</string>
	<key>PROJECT_ID</key>
	<string>mymealpr</string>
	<key>STORAGE_BUCKET</key>
	<string>mymealpr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543615832450:ios:b6895f338f2d9a984cbf9b</string>
</dict>
</plist>